.cart{
  width: 100%;
  min-height: 70vh;
  margin: 70px 0;
}


.gridTable{
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 16px;
}

/* each row */
.tcontent{
  display: grid;
  grid-template-columns: 100px 1fr 100px 100px 100px 100px;
  align-items: center;
  gap: 10px;
}

/* header row */
.tcontent:first-child{
  font-weight: 600;
  padding-bottom: 10px;
}

.tcontent{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* product image */
.foodImg{
  width: 50px;
  object-fit: cover;
  border-radius: 6px;
}

/* remove icon */
.crossIcon{
  width: 15px;
  cursor: pointer;
}


.noproudct{
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  opacity: .7;
}


/* cart bottom part styling  */

.cartBottom{
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.cartBottom_leftpart{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartBottom_leftpart>h4{
  font-size: 1.4rem;
}


.calculate{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.innerCalculate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerCalculate:nth-child(1),.innerCalculate:nth-child(2){
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
}

.innerCalculate>span{
  opacity: .7;
  font-size: 1rem;

}


.innerCalculate>h5{
  opacity: 1;
  font-size: 1.1rem;
}


.cartBottom_leftpart>button{
  width: fit-content;
  border: none;
  border-radius: 3px;
  padding: 12px 15px;
  background-color: #FB5C26;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: scale 0.4s linear;
}


.cartBottom_leftpart>button:active{
  scale: 0.85;
}



/* cartbottom right part styling  */
.cartBottom_rightpart{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartBottom_rightpart>span{
  font-size: 1rem;
  opacity: .7;
}

.promocode_input{
  display: flex;
  width: 450px;

}

.promocode_input>input{
  width: 80%;
  padding: 15px 15px;
  background-color: #EAEAEA;
  border-radius: 4px;
  outline: none;
  border: none;
}

.promocode_input>button{
  flex-grow: 1;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: scale 0.5s linear;
}


.promocode_input>button:active{
  scale: 0.85;
}