.app_download_component{
  margin: 150px 0 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.app_download_component>h1{
  text-align: center;
  font-weight: 500;
  font-size: 2.5vw;
}

.app_download_images{
  display: flex;
  gap: 35px;
  align-items: center;
}

.app_download_images>img{
  cursor: pointer;
  transition: 0.4s;
}

.app_download_images>img:hover{
  transform: scale(1.05);
}