.foodDisplayCard{
  background-color: white;
  width: 100%;
  height: 360px;
  box-shadow: 0 0 10px #0000001a;
  border-radius:15px;
  overflow: hidden;
  transition: 0.3s;
  animation: fadeIn 3s;
  cursor: pointer;
}

.foodDisplayCard:hover{
  transform: scale(1.04);
}

.image{
  width: 100%;
  height:  55%;
  position: relative;
  
}

.image>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.add_cart{
  background-color: white;
  border-radius: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  position: absolute;
  top: 75%;
  right: 20px;
  cursor: pointer;
}

.add_cart>img{
  width: 35px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
}

.add_cart>span{
  color: orangered;
  font-size: 1.1rem;
  font-weight: 600;
}



.contents{
  padding: 1.4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
}



.heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.heading>img{
  width: 80px;
}


.heading>h4{
  font-size: 1.2rem;
  font-weight: 500
}

.contents>span:nth-child(2){
  color: #747474;
  font-size: 14px;
}

.contents>span:nth-child(3){
  font-size: 1.3rem;
  color: orangered;
  font-weight: 500;
}




@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}