
.wrapper{
  position: relative;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(3px);

}


.login_popup{
  animation: popup 2s ease;
  pointer-events: auto;
  width: 340px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header>h3{
  font-weight: 500;
  font-size: 1.4rem;
}

.header i{
  font-size: 1.5rem;
  cursor: pointer;
}


/* form styling  */

.login_popup>form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.login_popup>form>input{
  padding: 15px 17px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  font-size: .99rem;
}


.login_popup>form>button{
  background-color: #FD5C24;
  padding: 15px 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}


.privacy{
  margin-top: 12px;
}

.privacy>label{
  margin-left: 5px;
  opacity: .7;
  font-size: 15px;
}


.already{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 4px;
}


.bb{
  
  opacity: .7;
}

.aa{
  color: #FD5C24;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
}





@keyframes popup {
  0% {
   
    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}